.side_bar,
.side_bar__open {
	overflow: auto;

	width: 100%;
	height: 100%;

	position: fixed;
	z-index: 1;
	left: -100%;
	top: 0;

	background-color: var(--background);

	padding-top: 68;

	transition: 0.5s;
}

.side_bar__open {
	left: 0;
}
