@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #053690;
	--foreground: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--background: #000538;
// 		--foreground: #ffffff;
// 	}
// }

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.pad1rem {
	padding: 0 1rem;
}

#LOCK {
	overflow: hidden;
}
